@use "@/styles/variables" as *;

.images {
  padding: 2rem;
  margin: 1rem;
  border: 1px solid black;
}

.button_area {
  margin-top: 3rem;
}

.add_new_image_section {
  display: flex;
  align-items: center;
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-platinum;
  }
}
