@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.hero_card {
  @include card;

  .image {
    width: 100%;
    height: 100%;
  }
  .nickname {
    align-self: center;
    justify-self: center;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
  }
}
