.hero_carousel {
  :global {
    .carousel {
      display: flex;
      padding: 0 8rem;
      position: relative;
      .carousel-control-prev-icon {
        background-image: url("/general/prev_carousel_item_hand.svg"); // Set your own prev icon
      }
      .carousel-control-next-icon {
        background-image: url("/general/next_carousel_item_hand.svg"); // Set your own prev icon
      }
      .carousel-control-prev-icon,
      .carousel-control-next-icon {
        width: 10rem;
        height: 10rem;
      }
      .carousel-control-prev,
      .carousel-control-next {
        position: absolute;
        margin: auto;
        width: fit-content;
        height: fit-content;
      }
      .carousel-control-prev {
        left: 1rem;
      }
      .carousel-control-next {
        right: 1rem;
      }
    }
  }

  .carousel_item {
    padding-right: 0;
    padding-left: 0;

    --bs-gutter-x: 0rem !important;
    margin: auto auto;
    padding: 3rem 0;
    width: fit-content;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    .item {
      //todo fix this, so i don't need to use width here
      width: 18rem;
      // height: 20rem;
      // margin: 0 1px;
    }
  }
}
