@use "@/styles/mixins" as *;
.image_container {
  $radius: 0.2rem;
  $padding: 0.5rem;
  @include hero_card_container(18rem, 22rem, $radius, $padding);
  .image {
    @include image;
  }
}

.delete_hero_btn,
.edit_hero_btn {
  width: fit-content;
  height: fit-content;

  transition: transform 0.2s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
  img {
    height: 5rem;
    object-fit: contain;
  }
}

.delete_hero_btn {
}
.edit_hero_btn {
}
