.hero_carousel {
  :global {
    .carousel {
      display: flex;
      padding: 5rem;
      position: relative;
      .carousel-control-prev-icon,
      .carousel-control-next-icon {
        background-image: url("/general/favicon.ico"); // Set your own prev icon
      }

      .carousel-control-prev,
      .carousel-control-next {
        position: absolute;
        top: 50%;
        color: #ff0000;
        width: fit-content;
        height: fit-content;
      }
      .carousel-control-prev {
        left: 4rem;
      }
      .carousel-control-next {
        right: 4rem;
      }
    }
  }

  .carousel_item {
    margin: auto auto;
    padding: 3rem 0;
    width: fit-content;
    float: none;

    gap: 3rem;

    display: flex;
    align-items: center;
    justify-content: space-around;

    .item {
      width: 18rem;
      height: 22rem;
    }
  }
}
