@use "@/styles/mixins" as *;

.heroes_gallery_container {
  // padding: 2rem;
  .add_new_hero_card {
    width: 10em;
    height: 10em;
    @include card;
    font-size: 5em;
    align-items: center;
    justify-items: center;
  }
}
