@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.back_hero_card {
  $radius: 0.2rem;
  $padding: 0rem;

  @include hero_card_container($radius, $padding);

  display: flex;
  flex-direction: column;

  width: 32rem;
  min-height: 22rem;
  max-height: fit-content;

  font-size: 1.5rem;

  .header {
    background-color: $color-red;
    border-top: 2px solid black;
    border-bottom: 2px solid black;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0.5rem;
    margin-top: 1rem;

    p {
      @include text(1rem);
      margin: 0;
    }
  }

  .body {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    .real_name,
    .origin_description,
    .superpowers,
    .catch_phrase {
      width: 100%;
      height: fit-content;
      background-color: $color-old-paper-light;
    }
  }
}
