@use "@/styles/mixins" as *;
.image_container {
  $radius: 0.2rem;
  $padding: 0.5rem;
  //todo make it responsive
  width: 18rem;
  height: 22rem;
  @include hero_card_container($radius, $padding);
  .image {
    @include image;
  }
}
