@use "/styles//mixins" as *;
@use "/styles//variables" as *;

.navbar {
  display: flex;
  height: 5rem;
  align-items: center;
  justify-self: center;
  background-color: $color-old-paper;
  gap: 4rem;
  padding: 0 2rem;
  border-radius: 0 0 1rem 1rem;
  box-shadow: 0 4px 2px -2px gray;

  .logo {
    height: 80%;

    img {
      height: 100%;
      object-fit: contain;
    }
  }

  .links_container {
    display: flex;
    gap: 1rem;

    .link {
      font-size: 2.5rem;
      color: black;
      @include irish_text();
      @include link;
    }
  }
}
