@use "@/styles/variables" as *;

.disposable_image {
  position: relative;

  .dispose_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;

    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
    margin: 5%;

    background-color: $color-platinum;
    color: black;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    cursor: pointer;
    font-size: 2em;

    &:hover {
      background-color: $color-deeep-carmine-pink;
      color: white;
    }
  }

  .image_container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
}
