@use "@/styles/variables" as *;

.add_new_hero_btn {
  background-color: $color-purple;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  //todo make responsive
  position: absolute;
  right: 5rem;
  bottom: 5rem;

  transition: background-color 0.1s ease-in-out;
  &:hover {
    background-color: $color-red;
  }

  &:active {
    border: 0;
  }

  i {
    color: white;
    font-size: 4rem;
  }
}
