@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.add_new_hero_btn_container {
  width: 5rem;
  height: 5rem;
  //todo make responsive
  position: absolute;
  right: 5rem;
  bottom: 5rem;
  display: flex;

  .add_new_hero_btn {
    background-color: $color-purple;
    border-radius: 50%;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 0.1s ease-in-out;
    &:hover {
      background-color: $color-red;
    }

    &:active {
      border: 0;
    }

    i {
      color: white;
      font-size: 4rem;
    }
  }

  .text_container {
    // position: absolute;
    // top: 30%;

    opacity: 1;
    white-space: nowrap;

    // transform: translateX(0%);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

    .text {
      text-transform: uppercase;
      @include text(2rem, black);
      z-index: 1;
    }
  }

  &:hover {
    .text_container {
      opacity: 1;
      //   transform: translateX(-5%);
    }
  }
}
