.hero_carousel {
  :global {
    .carousel {
      $padding: 7rem;
      padding: 0 $padding + 1rem;
      position: relative;
      .carousel-control-prev-icon {
        background-image: url("/general/prev_carousel_item_hand.svg"); // Set your own prev icon
      }
      .carousel-control-next-icon {
        background-image: url("/general/next_carousel_item_hand.svg"); // Set your own prev icon
      }
      .carousel-control-prev-icon,
      .carousel-control-next-icon {
        width: $padding;
        height: $padding;
      }

      .carousel-control-prev,
      .carousel-control-next {
        position: absolute;
        margin: auto;
        width: fit-content;
        height: fit-content;
        transition: transform 0.2s ease-in-out;
        &:hover {
          transform: scale(1.2);
        }
      }

      .carousel-item {
      }
    }
  }

  .carousel_item {
    --bs-gutter-x: 0rem !important;
    margin: auto auto;
    padding: 3rem 0;
    width: fit-content;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    .item {
      //todo fix this, so i don't need to use width here
      width: 18rem;
    }
  }
}
