@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Caveat:wght@400;500;600;700&family=Overpass:ital,wght@0,900;1,800;1,900&family=Pacifico&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&family=Jomhuria&display=swap");

$font-family-balsamiq-sans: "Balsamiq Sans", sans-serif;
$font-family-roboto: "Roboto", sans-serif;
$font-family-overpass: "Overpass", sans-serif;
$font-family-spacemono: "Space Mono", sans-serif;
$font-family-caveat: "Caveat", sans-serif;
$font-family-pacifico: "Pacifico", sans-serif;
$font-family-jomruhia: "Jomruhia", serif;
$font-family-irish-grover: "Irish Grover", serif;

$color-milk: #fcfff7;
$color-dark-slate-gray: #2f4858;
$color-medium-spring-bud: #c8e59b;
$color-bangladesh-green: #04724d;
$color-chinese-white: #e2ebdd;
$color-alabaster: #edf6e9;
$color-banana-yellow: #ffe234;
$color-spanish-pink: #ffbfbf;
$color-deeep-carmine-pink: #ff3131;
$color-yellow-green: #bee97c;
$color-coconut-cream: #f8f0da;
$color-platinum: #e5e4e2;

$color-purple: #9769b1;
$color-black: #3e4440;
$color-old-paper: #e7dfcb;
$color-red: #ff0000;
$color-yellow: #ffff00;
$color-old-paper-light: #fdf7e7;
